services:
  app:
    build: .
    container_name: firefly-importer
    working_dir: /app
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - .:/app
