services:
  app:
    build: .
    working_dir: /app
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - postgres
    volumes:
      - .:/app

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: firefly_importer_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: firefly_importer
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/18/docker
    restart: unless-stopped

volumes:
  pgdata:
